@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    body {
        transition: .3s ease all;
        scroll-behavior: smooth;
    }
    :root {
        --color-primary: 30 41 59;
        --color-secondary: 255 255 255;
    }

    [data-theme='dark'] {
        --color-primary: 244 242 233;
        --color-secondary: 0 0 0;
    }

    .bg-pcc {
        background-image: url('img/office15189548.webp');
        background-position: center;
        background-size: cover;
    }
    .bg-seo {
        background-image: url('img/office15189548.webp');
        background-position: center;
        background-size: cover;
    }
    .bg-rrss {
        background-image: url('img/pexels-cottonbro-studio-5082579.webp');
        background-position: center;
        background-size: cover;
    }
    .bg-dev {
        background-image: url('img/pexels-thisisengineering-3861958.webp');
        background-position: center;
        background-size: cover;
    }
    
    @media (max-width: 768px) {
        .bg-mobile {
            background-image: url('img/office15189548.webp');
            background-position: center;
            background-size: cover;
        }
    }
}